/*Comentario: El css es legible. Se puede entender bastante bien
que hace cada cosa. Tanto por el buen nombramiento de las clases
como los comentarios en cada sección*/
body {
	/* background */
	font-family: "Lato", sans-serif;
	animation-name: backgroundAnim;
	animation-iteration-count: infinite;
	animation-duration: 80s;
	animation-timing-function: ease-in-out;
	background-repeat: no-repeat;
	background: linear-gradient(-45deg, #002f2f, #006969);
	background-size: 500%;
}
/* background image animation, more notorious on smaller screens*/
@keyframes backgroundAnim {
	0%,
	100% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 100%;
	}
	75% {
		background-position: 100% 0%;
	}
}

/*cards*/
.card {
	border: 0;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0%);
}

/*titles*/
h1,
h3 {
	text-align: center;
	font-weight: bold;
	color: aqua;
}

/*links*/
a {
	color: aqua;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	transition: 300ms;
	color: teal;
}

/*navbar*/

/*navbar and footer color*/
#full-navbar,
footer {
	background-color: #002f2f;
}

#navbar-menu {
	margin: auto;
}

/*navbar buttons*/
#navbar-menu > .col-md {
	color: #0e2f2f;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 50px;
	margin: 7px;
	border-radius: 4px;
	background-color: aqua;
}

/*specific navbar button behaviour*/
#navbar-menu > .col-md:hover {
	transition: 300ms;
	background-color: teal;
}
/*end-links*/

/*collapsed navbar button*/
.navbar-toggler {
	background-color: aqua;
}

.navbar-toggler:hover {
	transition: 300ms;
	background-color: teal;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*end-collapsed navbar button*/

/*Banner*/

#banner {
	overflow: hidden;
	height: 100vh;
}
#banner-background {
	right: 0%;
	bottom: 0%;
	object-fit: cover;
	min-height: 120vh;
	animation-duration: 2s;
	opacity: 1;
}

/*Banner texts slightly different because of the background image*/
.banner-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 255, 255, 60%);
	margin: 0;
	padding: 0;
}

#banner-subtitle,
#banner-title {
	display: inline;
	color: #0e2f2f;
}
/*end-banner*/

/*footer*/
#footer-title,
#contact-info {
	font-weight: bold;
}
#external-contact-links {
	background-color: #002f2f;
	flex-basis: 100%;
	margin-bottom: 10%;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*icons*/
.icon {
	max-height: 30px;
	margin: 5%;
	filter: invert(100%);
}

.copyrighted-icons {
	font-size: small;
	display: block;
	color: aqua;
	position: absolute;
	bottom: 0%;
	right: 0%;
}

.copyrighted-icons > a {
	color: aqua;
}

/*actual text*/
.card-text {
	background-color: aqua;
	border-radius: 4px;
}

p {
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: #002f2f;
}
